<!-- Start Tasks Content -->
section.tasks-content
    .container
        <!--Start Left Side-->
        .tasks-content__left-side.side
            .side__left-heder
                .tasks-content__btn-b.btn-b.btn-b_primary
                    span
                    | New Task
            .tasks-content__accordions
                <!--Start Varian Wrynn-->
                .tasks-content__card
                    .accordion.open
                        .accordion__arrow
                        .accordion__photo
                            img.icon(src='static/images/content/tasks-content/Varian-Wrynn.png' alt='User')
                        .accordion__name Varian Wrynn
                    .tasks-content__accordion-content.toggle
                        .content-item
                            .tasks-content__column
                                .content-item__checked-btn
                                    .content-item__checked
                            .tasks-content__column.column
                                .content-item__desc.text Make a graphic presentation of a...
                                .tasks-content__column
                                    .content-item__play
                        .content-item
                            .tasks-content__column
                                .content-item__checked-btn
                                    .content-item__checked
                            .tasks-content__column.column
                                .content-item__desc.text Prepare graphics for presentation
                                .tasks-content__column
                                    .content-item__calendar.text
                                        img(src='static/images/content/tasks-content/calendar-gray.png' alt='Calendar')
                                        | 29 Jun
                                    .content-item__play
                        .content-item.activityChartBackground
                            .tasks-content__column
                                .content-item__checked-btn
                                    .content-item__checked
                            .tasks-content__column.column
                                .content-item__desc.text Develop new marketing campaign for summer period
                                .tasks-content__column
                                    .content-item__calendar.text
                                        img(src='static/images/content/tasks-content/calendar-gray.png' alt='Calendar')
                                        | 20 Jun
                                    .content-item__play
                        .content-item
                            .tasks-content__column
                                .content-item__checked-btn
                                    .content-item__checked
                            .tasks-content__column.column
                                .content-item__desc.text Develop new marketing campaign for summer and autumn period
                                .tasks-content__column
                                    .content-item__play
                        .content-item
                            .tasks-content__column
                                .content-item__checked-btn
                                    .content-item__checked
                            .tasks-content__column.column
                                .content-item__desc.text Divide project development for subtasks and assign to team members
                                .tasks-content__column
                                    .content-item__calendar.text
                                        img(src='static/images/content/tasks-content/calendar-gray.png' alt='Calendar')
                                        | 28 Jun
                                    .content-item__play
                <!--End Varian Wrynn-->

                <!--Start Tyrande Whisperwind-->
                .tasks-content__card
                    .accordion
                        .accordion__arrow
                        .accordion__photo
                            img.icon(src='static/images/content/tasks-content/default-user-image.png' alt='User')
                        .accordion__name Tyrande Whisperwind
                    .tasks-content__accordion-content
                        .content-item
                            .tasks-content__column
                                .content-item__checked-btn
                                    .content-item__checked
                            .tasks-content__column.column
                                .content-item__desc.text Develop new marketing campaign for summer and autumn period
                                .tasks-content__column
                                    .content-item__calendar.text
                                        img(src='static/images/content/tasks-content/calendar-gray.png' alt='Calendar')
                                        | 28 Jun
                                    .content-item__play
                        .content-item
                            .tasks-content__column
                                .content-item__checked-btn
                                    .content-item__checked
                            .tasks-content__column.column
                                .content-item__desc.text Develop new marketing campaign for summer and autumn period
                                .tasks-content__column
                                    .content-item__calendar.text
                                        img(src='static/images/content/tasks-content/calendar-gray.png' alt='Calendar')
                                        | 28 Jun
                                    .content-item__play
                        .content-item
                            .tasks-content__column
                                .content-item__checked-btn
                                    .content-item__checked
                            .tasks-content__column.column
                                .content-item__desc.text Develop new marketing campaign for summer period
                                .tasks-content__column
                                    .content-item__play
                        .content-item
                            .tasks-content__column
                                .content-item__checked-btn
                                    .content-item__checked
                            .tasks-content__column.column
                                .content-item__desc.text Develop new marketing campaign for summer and ...
                                .tasks-content__column
                                    .content-item__play
                        .content-item
                            .tasks-content__column
                                .content-item__checked-btn
                                    .content-item__checked
                            .tasks-content__column.column
                                .content-item__desc.text Divide project development for subtasks and assign to team members
                                .tasks-content__column
                                    .content-item__calendar.text
                                        img(src='static/images/content/tasks-content/calendar-gray.png' alt='Calendar')
                                        | 20 Jun
                                    .content-item__play
                <!--End Tyrande Whisperwind-->
                <!--Start Tyrande Whisperwind-->
                .tasks-content__card
                    .accordion
                        .accordion__arrow
                        .accordion__photo
                            img.icon(src='static/images/content/tasks-content/default-user-image.png' alt='User')
                        .accordion__name Tyrande Whisperwind
                    .tasks-content__accordion-content
                        .content-item
                            .tasks-content__column
                                .content-item__checked-btn
                                    .content-item__checked
                            .tasks-content__column.column
                                .content-item__desc.text Develop new marketing campaign for summer and autumn period
                                .tasks-content__column
                                    .content-item__calendar.text
                                        img(src='static/images/content/tasks-content/calendar-gray.png' alt='Calendar')
                                        | 28 Jun
                                    .content-item__play
                        .content-item
                            .tasks-content__column
                                .content-item__checked-btn
                                    .content-item__checked
                            .tasks-content__column.column
                                .content-item__desc.text Develop new marketing campaign for summer and autumn period
                                .tasks-content__column
                                    .content-item__calendar.text
                                        img(src='static/images/content/tasks-content/calendar-gray.png' alt='Calendar')
                                        | 28 Jun
                                    .content-item__play
                        .content-item
                            .tasks-content__column
                                .content-item__checked-btn
                                    .content-item__checked
                            .tasks-content__column.column
                                .content-item__desc.text Develop new marketing campaign for summer period
                                .tasks-content__column
                                    .content-item__play
                        .content-item
                            .tasks-content__column
                                .content-item__checked-btn
                                    .content-item__checked
                            .tasks-content__column.column
                                .content-item__desc.text Develop new marketing campaign for summer and ...
                                .tasks-content__column
                                    .content-item__play
                        .content-item
                            .tasks-content__column
                                .content-item__checked-btn
                                    .content-item__checked
                            .tasks-content__column.column
                                .content-item__desc.text Divide project development for subtasks and assign to team members
                                .tasks-content__column
                                    .content-item__calendar.text
                                        img(src='static/images/content/tasks-content/calendar-gray.png' alt='Calendar')
                                        | 20 Jun
                                    .content-item__play
                <!--End Tyrande Whisperwind-->
                <!--Start Tyrande Whisperwind-->
                .tasks-content__card
                    .accordion
                        .accordion__arrow
                        .accordion__photo
                            img.icon(src='static/images/content/tasks-content/default-user-image.png' alt='User')
                        .accordion__name Tyrande Whisperwind
                    .tasks-content__accordion-content
                        .content-item
                            .tasks-content__column
                                .content-item__checked-btn
                                    .content-item__checked
                            .tasks-content__column.column
                                .content-item__desc.text Develop new marketing campaign for summer and autumn period
                                .tasks-content__column
                                    .content-item__calendar.text
                                        img(src='static/images/content/tasks-content/calendar-gray.png' alt='Calendar')
                                        | 28 Jun
                                    .content-item__play
                        .content-item
                            .tasks-content__column
                                .content-item__checked-btn
                                    .content-item__checked
                            .tasks-content__column.column
                                .content-item__desc.text Develop new marketing campaign for summer and autumn period
                                .tasks-content__column
                                    .content-item__calendar.text
                                        img(src='static/images/content/tasks-content/calendar-gray.png' alt='Calendar')
                                        | 28 Jun
                                    .content-item__play
                        .content-item
                            .tasks-content__column
                                .content-item__checked-btn
                                    .content-item__checked
                            .tasks-content__column.column
                                .content-item__desc.text Develop new marketing campaign for summer period
                                .tasks-content__column
                                    .content-item__play
                        .content-item
                            .tasks-content__column
                                .content-item__checked-btn
                                    .content-item__checked
                            .tasks-content__column.column
                                .content-item__desc.text Develop new marketing campaign for summer and ...
                                .tasks-content__column
                                    .content-item__play
                        .content-item
                            .tasks-content__column
                                .content-item__checked-btn
                                    .content-item__checked
                            .tasks-content__column.column
                                .content-item__desc.text Divide project development for subtasks and assign to team members
                                .tasks-content__column
                                    .content-item__calendar.text
                                        img(src='static/images/content/tasks-content/calendar-gray.png' alt='Calendar')
                                        | 20 Jun
                                    .content-item__play
                <!--End Tyrande Whisperwind-->

        <!--End Left Side-->

        <!--Start Right Side-->
        .tasks-content__right-side.side
            .tasks-content__header
                .tasks-content__column
                    .tasks-content__play
                    .tasks-content__name-check.text
                        span
                        | Mark Complete
                .tasks-content__column
                    .tasks-content__drop-down
                        .tasks-content__btn
            .tasks-content__body
                .tasks-content__title Develop new marketing campaign for summer period
            .tasks-content__sprint.sprint
                .sprint__name.text
                    img.icon(src='static/images/content/tasks-content/sprint.png' alt='Logo')
                    | Cosmic Cuttlefish
                .sprint__name.text
                    img.icon(src='static/images/content/tasks-content/default-user-image.png' alt='Avatar')
                    | Tyrande Whisperwind
                .sprint__calendar.text
                    img(src='static/images/content/tasks-content/calendar-small.png' alt='Calendar')
                    | 29 Jun
            .tasks-content__description.text If this represents the “best” of the person in doing a task or if it represents “how” they do a task in an area such as performance/pace, this would be included in the profile.
            .tasks-content__estimate.estimate
                .estimate__title.text Budget
                .estimate__time.text 120 hours
            .tasks-content__tags
                .tasks-content__column
                    .tasks-content__new-tag.new-tag
                        .new-tag__name.text AnotherOne
                        .new-tag__remove-tag
                    .tasks-content__new-tag.new-tag
                        .new-tag__name.text Somedata
                        .new-tag__remove-tag
                .tasks-content__column
                    .tasks-content__add-tag.text
                        img(src='static/images/content/tasks-content/tag.png' alt='Tag')
                        | Add Tags
            .tasks-content__activity.activity
                .activity__title.text Activity
                .activity__total.text
                    b You
                    span created this task
                    b 20 Jun
                    span at
                    b 7 h 23 min
        <!--End Right Side-->

<!-- End Tasks Content -->
